* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: grey;
}

h1,
p {
  text-align: center;
}

.container,
.task2{
  display: flex;
  justify-content: center;
}

#stop,
#continue,
#pause{
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
